
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #111317;
    --primary-color-light: #16181d;
    --secondary-color: #f17146;
    --secondary-color-dark: #cb6245;
    --white: #ffffff;
    --text-light: #d1d5db;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    color: var(--white);
    line-height: 1.6;
    margin: 0;
    overflow: auto; 
}

.Data-header {
    background: linear-gradient(125deg, rgba(17, 19, 23, 0.8) 50%, rgba(241, 113, 70, 0.8) 50%);
    margin-bottom: 30px;
    text-align: center;
    color: var(--white);
    margin-bottom: 2rem;
    padding: 5px;
    animation: fadeIn 1.5s ease-in-out;
}

.Data-header h1 {
    font-size: 30px;
    margin-top: 5px;
    text-shadow: 4px 4px 4px rgba(217, 66, 16, 0.5);
    animation: slideInLeft 1.5s ease-in-out;
}

.Data-header p {
    font-size: 16px;
    color: var(--text-light);
    margin-bottom: 0.5rem;
    animation: slideInLeft 1.5s ease-in-out;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__toggle{
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    z-index: 1000;
}

.nav__logo h3 {
    font-size: 22px;
}

.nav__logo span {
    color: var(--secondary-color);
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav__links .link a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 0.5rem;
}

.nav__links .link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav__links .link a:hover::after {
    width: 80%;
}

.table-container {
    width: 80%;
    background-color: var(--primary-color-light);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow-y: auto;
    max-height: 400px;
    overflow-x: hidden;
    margin: 0% auto;
    margin-bottom: 25px;
    animation: slideInRight 1.5s ease-in-out;
}

.table-container::-webkit-scrollbar {
    width: 15px; 
}

.table-container::-webkit-scrollbar-track {
    background: #f29171;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-light); 
    border-radius: 6px; 
    border: 3px solid #f29171; 
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); 
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px; 
    text-align: center;
    background-color: var(--primary-color-light);
    color: var(--text-light);
    margin: 0;
}

table th, table td {
    padding: 10px 5px; 
    border: 1px solid var(--primary-color);
    text-align: center;
}

table th {
    background-color: var(--secondary-color);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
}

table tr:first-child {
    background-color: #f29171;
    color: #111317;
}

table tr {
    border-bottom: 1px solid var(--primary-color-light);
    transition: background-color 0.3s ease-in-out;
}

table tr:hover {
    background-color: var(--primary-color);
}

table tr:first-child:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

@media (max-width: 768px) {
    .table-container {
        width: 95%; 
    }

    table th, table td {
        padding: 8px;
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    table th, table td {
        padding: 6px;
        font-size: 12px; 
    }
}

.download{
    display: flex;
    padding: 10px;
}

.download-btn {
    background-color: var(--secondary-color);
    color: #111317;
    padding: 7px 10px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;  
    margin-left: 83%;
    margin-bottom: 20px;
    font-weight: 600;
    animation: pulse 5s infinite;
}

.download-btn:hover {
    background-color:var(--primary-color-light);
    color: var(--white);
    border: 1px solid #cb6245;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 9rem;
    background-color: var(--primary-color-light);
    color: var(--text-light);
    border-top: 3px solid var(--secondary-color);
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.footer-section {
    flex: 1;
    max-width: 270px;
    margin-bottom: 2px;
}

.footer-section h2{
    font-size: 20px;
    margin-top: -5%;
    margin-bottom: 1.5px;
}

.footer-logo {
    width: 80px;
}

.footer-section h3 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    line-height:60px;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--secondary-color);
    left: 0;
    bottom: 8px;
    transition: width 0.3s;
}

.footer-section h3:hover::after {
    width: 80px;
}

.footer-section p, .footer-section a {
    font-size: 13px;
    line-height: 1.5rem;
    color: var(--text-light);
    transition: color 0.3s, transform 0.3s;
}

.footer-section a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.3rem;
}

.footer-section a:hover {
    color: var(--secondary-color);
    transform: translateX(3px);
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}


.social-icons {
    display: flex;
    gap: 0.7rem;
    margin-top: 0.8rem;
}

.social-icons a {
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    background-color: var(--primary-color);
}