
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #111317;
    --primary-color-light: #16181d;
    --secondary-color: #f17146;
    --secondary-color-dark: #cb6245;
    --white: #ffffff;
    --text-light: #d1d5db;
    --max-width: 1400px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    color: var(--white);
    line-height: 1.6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    z-index: 1000;
}

.nav__logo h3 {
    font-size: 22px;
}

.nav__logo span {
    color: var(--secondary-color);
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav__links .link a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 0.5rem;
}

.nav__links .link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav__links .link a:hover::after {
    width: 80%;
}

.predict-header {
    background: linear-gradient(125deg, rgba(17, 19, 23, 0.8) 50%, rgba(241, 113, 70, 0.8) 50%);
    text-align: center;
    color: var(--white);
    padding: 5px;
    animation: fadeIn 1.5s ease-in-out;
}

.predict-header h1 {
    font-size: 30px;
    text-shadow: 4px 4px 4px rgba(217, 66, 16, 0.5);
    animation: slideInLeft 1.5s ease-in-out;
}

.predict-header p {
    font-size: 16px;
    color: var(--text-light);
    margin-bottom: 1rem;
    animation: slideInLeft 1.5s ease-in-out;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 0.5rem 2rem;
}

.form-container, .info-container {
    width: 39%;
    background-color: var(--primary-color-light);
    padding: 17px;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    color: var(--text-light);
    animation: fadeIn 1s ease-in-out;
}

.form-container {
    margin-left: 10%;
    padding: 25px;
}

.info-container {
    animation: fadeIn 1s ease-in-out;
}

.form-container h2,
.info-container h2 {
    color: var(--secondary-color);
    margin-bottom: 5px;
    font-size: 20px;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 9px;
    margin: 10px 0;
    border: 1px solid #f6613f;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: 12px;
}

.form-container button {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 9px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    animation: pulse 5s infinite;
}

.form-container button:hover {
    background-color: var(--secondary-color-dark);
}

.info-container ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: var(--text-light);
}

.info-container ul li {
    margin-bottom: 20px;
}

.info-container ul li strong {
    color: var(--secondary-color);
}

.result-container {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.result-container h3 {
    margin: 0;
    font-size: 15px;
    color: var(--secondary-color-dark);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 9rem;
    background-color: var(--primary-color-light);
    color: var(--text-light);
    border-top: 3px solid var(--secondary-color);
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.footer-section {
    flex: 1;
    max-width: 270px;
    margin-bottom: 2px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 1.5px;
}

.footer-logo {
    width: 80px;
}

.footer-section h3 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 60px;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--secondary-color);
    left: 0;
    bottom: 8px;
    transition: width 0.3s;
}

.footer-section h3:hover::after {
    width: 80px;
}

.footer-section p, .footer-section a {
    font-size: 13px;
    line-height: 1.5rem;
    color: var(--text-light);
    transition: color 0.3s, transform 0.3s;
}

.footer-section a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.3rem;
}

.footer-section a:hover {
    color: var(--secondary-color);
    transform: translateX(3px);
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.social-icons {
    display: flex;
    gap: 0.7rem;
    margin-top: 0.8rem;
}

.social-icons a {
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.footer-bottom {
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-top: 1px solid var(--primary-color-light);
    margin-top: 1rem;
}

.footer-bottom p {
    font-size: 11px;
    margin-bottom: 0.3rem;
    line-height: 1.3;
}

.footer-bottom p a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
}

.footer-bottom p a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .nav__toggle {
        display: block;
        font-size: 24px;
        background: var(--secondary-color);
        color: var(--white);
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 8px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }

    .footer-section {
        max-width: 100%;
        margin-bottom: 2rem;
    
    }

    .footer-logo {
        width: 80px;
    }

    .social-icons a {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .container {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
    }

    .form-container, .info-container {
        width: 100%;
        margin-left: 7%;
        margin-right: 7%;
        padding: 15px;
        margin-bottom: 4%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 0.5rem;
    }

    .form-container, .info-container {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .predict-header h1 {
        font-size: 24px; 
        margin-bottom: 1rem;
    }

    .predict-header p {
        font-size: 16px; 
        padding: 0.5rem;
    }
}